@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header{
    font-family: 'Lexend', sans-serif;
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 100%;
    background-color: #faf3eb;
}
.container{
    display: flex;
    width: 80%;
	align-items: center;
    margin-left: 10%;
}
a{
    text-decoration-line: none;
    color: #adaba2;
}
li{
    padding-top: 8px;
    padding-left: 10%;
    display: inline-block;
}
.box1{
    display: flex;
    margin: 15px;
    width: 30vw;
}
.box2{
    align-items: center;
    padding: 10px;
    margin: 15px;
    width: 45vw;
}
.box3{
    margin: 15px;
    color: #adaba2;
    display: flex;
    width: 20vw;
}
.hiring{
    padding: 1.5% 3% 1.5% 3%;
    margin: 4%;
    border-radius: 50px;
    color: white;
    border-style: hidden;
    cursor: pointer;
    background-image: linear-gradient(to right, #e8a84c, #ff0043);
}
.p{
    margin: inherit;
}
.waitlist{
    padding-left: 15px;
    padding-right: 15px;
    margin: 2%;
    border-radius: 5px;
    color: white;
    border-style: hidden;
    cursor: pointer;
    background-color: blue;
}
body{
    background-color: #faf3eb;
}
.body-container{
    display: flex;
    width: 100%;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	height: 500px;
	margin: -20px 0 50px;

}
.body-box1{
    width:40%;
    margin-right: 5px;
}
.body-box2{
    width:40%;
    margin-left: 5px;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}
.body-box1 p{
    font-size: 1.3rem;
}
form{
    margin-bottom: 5px;
    margin-top: 5px;
}
input{
    border: none;
    border-radius: 5px;
    padding: 15px;
}
button{
    border-radius: 5px;
    padding: 15px;
}
.check{
    display: flex;
}
.p{
    margin-left: 10px;
}
span{
    font-size: 0.8rem;
}

.image{
    margin-top: -110%;
    padding: 50%;
}
.image img{
    /* margin-left: -10%; */
    padding-top: 10%;
    width: 350px;
}
.blue{
    position: absolute;
    margin-left: -10.5%;
    transform: rotateZ(-30deg); 
}
.pink{
    position: absolute;
    margin-left: -9.5%;
    transform: rotateZ(-20deg);
}
.purple{
    position: absolute;
    margin-left: -8.5%;
    transform: rotateZ(-10deg);
}
.model{
    position: absolute;
    margin-left: -7.5%;
}
footer{
    display: flex;
    width: 100%;
    height: 10vh;
	margin: -20px 0 50px;
}
.links{
    margin-left: 10%;
}
.help{
    margin-left: 45%;
    display: flex;
}
.a {
    margin-right: 30px;
} 
.pp{
    color: black;
    margin: 12px;
    font-size: 0.7rem;
}
.sp{
    margin: 0px;
    font-size: 0.7rem;
}

@media screen and (max-width: 1024px){
li{
    padding-top: 4px;
    padding-left: 5%;
    display: inline-block;
}
.box1{
    margin: 7.5px;
}
.box2{
    padding: 5px;
    margin: 7.5px;
}
.box3{
    margin: 7.5px;
}
.waitlist{
    padding-left: 5px;
    padding-right: 5px;
}
.body-box1 p{
    font-size: 1.2rem;
}
.image img{
    width: 250px;
}
}
@media screen and (max-width: 768px){
    *{
        overflow: scroll;
    }
    .box2{
        align-items: center;
        padding: 10px;
        margin: 25px;
        width: 70vw;
    }
    .box3{
        display: none;
    }
    
    .body-container{
        display: -webkit-box;
        display: -moz-box;
        display: box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        width: 700px;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        height: auto;
        margin: -20px 0 50px;
    }
    .body-box1{
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        box-ordinal-group: 2;
        width: auto;
        margin-left: 10%;
        margin-top: 10%;
    }
    .body-box2{
        width: auto;
        margin: 35px;
    }
    .image{
        margin-top: -45%;
        margin-bottom: 20%;
        padding: 40%;
    }
    .image img{
        /* margin-left: -10%; */
        width: 300px;
    }
    h1{
        font-family: 'Playfair Display', serif;
        font-size: 50px;
    }
    .body-box1 p{
        font-size: 1.2rem;
    }
    form{
        margin-bottom: 5px;
        margin-top: 5px;
    }
    input{
        border: none;
        border-radius: 5px;
        padding: 15px;
        align-content: flex-start;
        text-align: left;
        padding-left: 15px;
        padding-right: 150px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    span{
        font-size: 1rem;
    }
    footer{
     margin-top: 10%;
    }
    .links{
        padding-top: 10px;
    }
    .help{
        margin-left: 25%;
    } 
    .pp{
        font-size: 1rem;
    }
    .sp{
        font-size: 1rem;
    }      
}

@media screen and (max-width: 375px){
    *{
        overflow: scroll;
    }
    .box2{
        align-items: center;
        padding: 10px;
        margin: 25px;
        width: 70vw;
    }
    .box3{
        display: none;
    }
    
    .body-container{
        display: -webkit-box;
        display: -moz-box;
        display: box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        width: 700px;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        height: auto;
        margin: 0px 0 0px;
    }
    .body-box1{
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        box-ordinal-group: 2;
        width: auto;
        margin-left: 10%;
        margin-top: 10%;
    }
    .body-box2{
        width: auto;
        margin: 5px;
    }
    .image{
        margin-top: -45%;
        margin-bottom: 20%;
        padding: 40%;
    }
    .image img{
        /* margin-left: -10%; */
        width: 150px;
    }
    h1{
        font-family: 'Playfair Display', serif;
        font-size: 50px;
    }
    .body-box1 p{
        font-size: 1.2rem;
    }
    form{
        margin-bottom: 5px;
        margin-top: 5px;
    }
    input{
        border: none;
        border-radius: 5px;
        padding: 15px;
        align-content: flex-start;
        text-align: left;
        padding-left: 15px;
        padding-right: 150px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    span{
        font-size: 1rem;
    }
    footer{
     margin-top: 10%;
    }
    .links{
        padding-top: 10px;
    }
    .help{
        margin-left: 25%;
    } 
    .pp{
        font-size: 1rem;
    }
    .sp{
        font-size: 1rem;
    }    
}